<h2>List of people who have applied for "{{postName}}"</h2>
  <table border = "1px">
  <tr>
    <th>No</th>
    <th>Name</th> 
    <th>Email</th>
    <th>Address</th>
    <th>PhoneNumber</th>
    <th>Details</th>
    <th>Status</th>
    <th></th>
  </tr>
  <tr *ngFor = "let applicant of applicants; let num = index">
    <td>{{num + 1}}</td>
    <td>{{applicant.name}}</td> 
    <td>{{applicant.email}}</td>
    <td>{{applicant.address}}</td>
    <td>{{applicant.PhoneNumber}}</td>
    <td><a [routerLink]="['detail']" [queryParams]="{id: applicant._id, postId: postId}">detail</a></td>
    <!-- <td><a [routerLink]="['hire']" [queryParams]="{email: applicant.email, postId: postId}">hire</a></td> -->
    <td>{{applicant.poststatus}}</td>
   <td><button (click)="hireMe(num)">Hireme</button></td> 
  <!-- <td><md-button (click)="hireMe(num)">Hireme</md-button></td> -->
  </tr>
</table>   

<router-outlet></router-outlet>